<ngb-carousel class="mt-5 border border-black rounded-5">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="rounded-5"
        src="/assets/img/NY.jpeg"
        alt="Imagem de Nova Iorque"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-shadow">
        Localize o CEP de monumentos históricos e paisagens únicas
      </h3>
      <br />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="rounded-5"
        src="/assets/img/Ilha.jpeg"
        alt="Imagem de uma Ilha"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-shadow">
        Cadastre seu código postal e mostre seu orgulho
      </h3>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="rounded-5"
        src="/assets/img/Rio.jpeg"
        alt="Imagem do Rio de Janeiro"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-shadow">
        Pesquise por endereços ao redor de todo o planeta
      </h3>
      <br />
    </div>
  </ng-template>
  <ng-template></ng-template>
</ngb-carousel>
<div class="d-flex gap-2">
  <button class="btn btn-light w-100 mt-3 rounded-5 mb-3 border border-success" routerLink="/Registry">
  Realizar cadastro
  </button>
</div>

